MyJaxService/WebRoot/WEB-INF/wsdl/ProductManagementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductManagementService" targetNamespace="http://service.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.com/" schemaLocation="ProductManagementService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="add">
    <part element="tns:add" name="parameters"/>
  </message>
  <message name="addResponse">
    <part element="tns:addResponse" name="parameters"/>
  </message>
  <message name="getDescription">
    <part element="tns:getDescription" name="parameters"/>
  </message>
  <message name="getDescriptionResponse">
    <part element="tns:getDescriptionResponse" name="parameters"/>
  </message>
  <message name="confirm">
    <part element="tns:confirm" name="parameters"/>
  </message>
  <message name="confirmResponse">
    <part element="tns:confirmResponse" name="parameters"/>
  </message>
  <message name="getCount">
    <part element="tns:getCount" name="parameters"/>
  </message>
  <message name="getCountResponse">
    <part element="tns:getCountResponse" name="parameters"/>
  </message>
  <message name="getOne">
    <part element="tns:getOne" name="parameters"/>
  </message>
  <message name="getOneResponse">
    <part element="tns:getOneResponse" name="parameters"/>
  </message>
  <message name="getProductList">
    <part element="tns:getProductList" name="parameters"/>
  </message>
  <message name="getProductListResponse">
    <part element="tns:getProductListResponse" name="parameters"/>
  </message>
  <message name="getPrice">
    <part element="tns:getPrice" name="parameters"/>
  </message>
  <message name="getPriceResponse">
    <part element="tns:getPriceResponse" name="parameters"/>
  </message>
  <message name="buy">
    <part element="tns:buy" name="parameters"/>
  </message>
  <message name="buyResponse">
    <part element="tns:buyResponse" name="parameters"/>
  </message>
  <portType name="ProductManagementDelegate">
    <operation name="add">
      <input message="tns:add"/>
      <output message="tns:addResponse"/>
    </operation>
    <operation name="getDescription">
      <input message="tns:getDescription"/>
      <output message="tns:getDescriptionResponse"/>
    </operation>
    <operation name="confirm">
      <input message="tns:confirm"/>
      <output message="tns:confirmResponse"/>
    </operation>
    <operation name="getCount">
      <input message="tns:getCount"/>
      <output message="tns:getCountResponse"/>
    </operation>
    <operation name="getOne">
      <input message="tns:getOne"/>
      <output message="tns:getOneResponse"/>
    </operation>
    <operation name="getProductList">
      <input message="tns:getProductList"/>
      <output message="tns:getProductListResponse"/>
    </operation>
    <operation name="getPrice">
      <input message="tns:getPrice"/>
      <output message="tns:getPriceResponse"/>
    </operation>
    <operation name="buy">
      <input message="tns:buy"/>
      <output message="tns:buyResponse"/>
    </operation>
  </portType>
  <binding name="ProductManagementPortBinding" type="tns:ProductManagementDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="add">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDescription">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="confirm">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOne">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getProductList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPrice">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="buy">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ProductManagementService">
    <port binding="tns:ProductManagementPortBinding" name="ProductManagementPort">
      <soap:address location="http://localhost:8080/MyJaxService/ProductManagementPort"/>
    </port>
  </service>
</definitions>
